<template name="CreateExpense">
  <h1>Create expense</h1>
  {{> CreateExpenseForm}}
</template>

<template name="CreateExpenseForm">
	<form id="CreateExpenseForm">
	  <div class="form-group">
	    <label for="expenseTitleInput">Expense</label>
	    <input type="text" class="form-control" id="expenseSubjectInput" placeholder="Describe your lack of money">
	  </div>
		<div class="form-group">
		  <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
		  <div class="input-group">
		    <div class="input-group-addon">$</div>
		    <input type="text" class="form-control" id="expenseAmountInput" placeholder="Amount">
		    <div class="input-group-addon">.00</div>
		  </div>
		</div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>