<template name="ListExpenses">
  <div class="row">
		<div class="col-xs-8">
		  <h1>Expenses: {{user.username}}</h1>
		</div>
		<div class="col-xs-4">
			<button class="btn-primary btn pull-right" id="CreateExpense">Create</button>
		</div>
	</div>
	
  <table class="table table-striped custab">
		<thead>
			<tr>
				<th>
					When
				</th>
				<th>
					Subject
				</th>
				<th>
					Amount
				</th>
				<th>
					User
				</th>
			</tr>
		</thead>
		<tbody>
      {{#each expenses}}
				{{>ListExpensesItem}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="ListExpensesItem">
  <tr>
		<td>{{createdAt}}</td>
		<td>{{subject}}</td>
		<td>{{amount}}</td>
		<td><a href="/users/{{user._id}}">{{user.username}}</a></td>
	</tr>
</template>