<template name="ListExpenses">
  <div class="row">
		<div class="col-xs-8">
		  <h1>Expenses: {{user.username}}</h1>
		</div>
		<div class="col-xs-4">
			<button class="btn-primary btn pull-right" id="CreateExpense">Create</button>
		</div>
	</div>
	{{>ListExpensesTable expenses=expenses}}
</template>

<template name="ListExpensesTable">
  <table class="table table-striped custab">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>
					When
				</th>
				<th>
					Subject
				</th>
				<th>
					Amount
				</th>
				<th>
					User
				</th>
			</tr>
		</thead>
		<tbody>
      {{#each expenses}}
				{{>ListExpensesItem createdAt=createdAt subject=subject amount=amount user=user}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="ListExpensesItem">
  <tr>
		<td>
			{{#if expenseOwner}}
			<p data-placement="top" data-toggle="tooltip" title="Delete" class="text-center">
				<button class="btn btn-danger btn-xs deleteExpense" data-title="Delete" data-toggle="modal" data-target="#Delete">
					<span class="glyphicon glyphicon-trash	"></span>
				</button>
			</p>
			{{/if}}
		</td>
		<td>{{createdAt}}</td>
		<td>{{subject}}</td>
		<td>{{amount}}</td>
		<td><a href="/users/{{user._id}}">{{user.username}}</a></td>
	</tr>
</template>