<template name="UsersProfile">
	<div class="container">
	    <div class="span3 well">
	        <center>
	        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://placehold.it/100x100" name="aboutme" width="140" height="140" class="img-circle"></a>
	        <h3>{{currentUser.username}}</h3>
	        {{#each currentUser.emails}}
					<em>{{address}}</em>
					{{/each}}
			</center>
	    </div>
			<div>
				{{userInfo}}
			</div>
	</div>
	<div class="span12">
		{{>ListExpensesTable expenses=expenses}}
	</div>
</template>