<template name="User">
	<div class="row">
		<div class="col-xs-8">
		  <h1>Your Account: {{user.username}}</h1>
		</div>
		<div class="col-xs-4">
			<button class="btn-primary btn pull-right" id="AddRent">Modify Rent</button>
		</div>
	</div>
	
	<div class="row user-totals">
		<div class="col-xs-4">
			<h3>This Month Rent</h3>
			<h4><strong><sup>$</sup>{{owed}}</strong></h4>
		</div>
		<div class="col-xs-4">
			<h3>Total Expenses</h3>
			<h4><strong><sup>$</sup>{{totalExpenses}}</strong></h4>
		</div>
		<div class="col-xs-4">
			<h3>Total Transactions</h3>
			<h4><strong>{{totalTransactions}}</strong></h4>
		</div>
	</div>
	
	{{>ListExpensesTable expenses=expenses}}
</template>