<template name="Users">
  <h1>Your Account</h1>
	
	<div class="row user-totals">
		<div class="col-xs-4">
			<h3>This Month Rent</h3>
			<h4><strong>{{owed}}</strong></h4>
		</div>
		<div class="col-xs-4">
			<h3>Total Expenses</h3>
			<h4><strong>{{totalExpenses}}</strong></h4>
		</div>
		<div class="col-xs-4">
			<h3>Total Transactions</h3>
			<h4><strong>{{totalTransactions}}</strong></h4>
		</div>
	</div>
	
	{{>ListExpensesTable expenses=expenses}}
</template>

<template name="UsersProfile">
	<h1>User profile</h1>
</template>